@model Cluster

@foreach (var noviaNamespace in Model.Namespaces)
{
    <div class="row namespace-container" data-namespace="@(noviaNamespace.Name)" style="padding-bottom:10px;">
        <div class="col-md-1 namespace-name-container">
            <h2 class="namespace-name-text">@noviaNamespace.Name</h2>
        </div>
        <div class="col-md-11">
            <div class="container microservice-container">
                <div class="checkboxes">
                    @foreach (var microservice in noviaNamespace.Microservices)
                    {
                        <label style="width:50%;">
                            <input type="checkbox" @(microservice.Item2 ? "checked" : "") />
                            <span>&nbsp; @microservice.Item1.Name</span>
                        </label>
                    }
                </div>
            </div>
        </div>
    </div>
}
